.button {
  padding: .8em 1.1em;
  background-color: #d7b7ff;
  max-width: max-content;
  height: min-content;
  font-family: var(--font-family-main);
  color: var(--color-black);
  border-radius: 10px;
  cursor: pointer;
  transition: background .8s;
}

.button:hover {
  background-image: linear-gradient(to right top, var(--button-background-color), var(--color-white));
}

.button_background_with-image {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 140%;
}

.button_background_common {
  font-weight: 600;
  font-size: 1.8vh;
  line-height: 1.2em;
  text-transform: uppercase;
}