.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 35px 0 15px;
  white-space: nowrap;
  z-index: 4;
}

.header__logo-image-link {
  display: inline-block;
  line-height: 0;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
}

.header__logo-image-link:hover,
.header__logo-image-link:active,
.header__logo-image-link:focus {
  opacity: 0.5;
}

.header__logo-image-link:active,
.header__logo-image-link:focus {
  outline: none;
}

.logo {
  width: 6em;
  object-fit: cover;
  object-position: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  height: min-content;
}
