.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 35px 0 15px;
  z-index: 4;
}

.header__logo-image-link {
  display: inline-block;
  line-height: 0;
  text-decoration: none;
}

.logo {
  width: 6em;
  object-fit: cover;
  object-position: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  height: min-content;
}

.navigation__link {
  margin: 0;
  font-weight: 500;
  font-size: 1.8vh;
  line-height: 1.2em;
  color: var(--color-text-main);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.navigation__link:hover {
  text-decoration: underline;
}

.navigation__link:active,
.navigation__link:focus {
  color: var(--color-link-header-active);
}