.main-layout {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--gradient-top);
}

.main-layout__content {
  max-width: var(--screen-width-max);
  box-sizing: border-box;
  min-width: var(--screen-width-min);
  margin: 0 auto;
  padding: 0 2%;
  height: 100%;
}

.main-layout__background-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient-bottom);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  overflow: hidden;
}

.main-layout__background-circle {
  position: absolute;
  top: 25.3%;
  left: 42.3%;
  width: 118vmax;
  aspect-ratio: 0.988;
  background: var(--gradient-moon);
  border-radius: 50%;
}

.main-layout__background-bottom::after {
  content: '';
  position: absolute;
  bottom: 5%;
  left: 30%;
  width: 180px;
  height: 200px;
  background: url(../../../public/images/rocket.svg) center center / 80% no-repeat;
  background-size: cover;
  transform-origin: bottom right;
  animation: rocket-flight 10s linear infinite;
}

.main {
  position: relative;
  padding-top: 47px;
  z-index: 4;
}

@keyframes rocket-flight {
  0% {
    transform: scale(0) rotate(-30deg) translate(-100%, 250%);
  }

  10% {
    transform: scale(20%) rotate(-50deg) translate(20%, -20%);
  }

  50% {
    transform: translate(100%, -60%);
  }

  80% {
    transform: translate(100%, -60%) rotate(360deg);
  }

  81% {
    transform: rotate(0) translate(100%, -60%);
  }

  100% {
    transform: translate(800%, -150%) rotate(50deg);
  }
}
