.content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: end;
  gap: .9em;
  max-width: 50%;
}

.heading {
  margin: 0;
  font-family: var(--font-family-main);
  font-weight: 600;
  font-size: 3.2vh;
  line-height: 1.2em;
  color: var(--color-white);
}

.text {
  margin: 0;
  max-width: 408px;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 1.8vh;
  line-height: 1.2em;
  color: var(--color-white);
}