.content {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: .9em;
  max-width: 50%;
}

.heading-wrap,
.text-wrap {
  min-height: 6.5vh;
}

.text-wrap {
  display: flex;
  align-items: flex-end;
}

.heading-wrap {
  display: flex;
}

.heading {
  margin: 0;
  align-self: flex-end;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 3.2vh;
  line-height: 1.2em;
  color: var(--color-white);
}

.text {
  margin: 0;
  max-width: 408px;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 1.8vh;
  line-height: 1.2em;
  color: var(--color-white);
  vertical-align: bottom;
}

.coast-info {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.coast-item {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  min-width: 100%;
  white-space: nowrap;
}

.coast-item__grid {
  display: grid;
  grid-template-columns: max-content 100%;
}

.coast-item__decor {
  border-bottom: 1px solid #fff;
}

.button-wrap {
  padding-top: 1em;
}