.content {
  padding: 47px 0 0 145px;
  min-width: max-content;
}

.heading,
.subheading {
  font-weight: 500;
  line-height: 1.2em;
}

.heading {
  max-width: 40vw;
  font-size: 9.7vh;
  line-height: 1.2em;
}

.subheading {
  margin: 2.3% 0;
  width: 25vw;
  font-size: 2.3vh;
}

.replaced-letter {
  display: inline-block;
  position: relative;
  color: transparent;
  width: .60em;
}

.replacing-image {
  position: absolute;
  top: 38%;
  left: -2px;
  width: .75em;
}

.content__buttons-wrap {
  display: flex;
  gap: 20px;
}