.tape {
  /*display: inline-block;*/
  position: fixed;
  bottom: 13%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}

.text-container {
  display: flex;
  gap: 97px;
  padding-right: 100%;
  width: max-content;
  animation: textRunning 30s linear infinite;
  white-space: nowrap;
  box-sizing: content-box;
}

/*.text-container .text:nth-child(9) {*/
/*  animation: animate2 10s linear infinite;*/
/*  animation-delay: -5s;*/
/*}*/

.text {
  display: inline-block;
  margin: 0;
  padding: .97em 0;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1em;
  color: var(--color-white);
  white-space: nowrap;
}

@keyframes textRunning {
  0% {
    transform: translateX(0);
  }
  /*50% {*/
  /*  transform: translateX(0);*/
  /*}*/
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}