.widget {
  position: absolute;
  left: 50%;
  bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 2em;
  min-width: 27.8vw;
  background-color: var(--color-widget-background);
  border-radius: 20px;
  transform: translateX(-50%);
}

.link {
  /* убрать лишнее пространство у тега <a> */
  display: inline-block;
  line-height: 0;
  /**/
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 10%;
  height: 10%;
  opacity: 1;
  transition: opacity .3s;
}

.link:hover,
.link:active,
.link:focus {
  opacity: .5;
}

.link:active,
.link:focus {
  outline: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}