.link {
  min-height: 1.2em;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.8vh;
  line-height: 1.2em;
  color: var(--color-text-main);
  text-transform: uppercase;
}

.link:active,
.link:focus {
  outline: none;
}

.link_text {
  font-weight: 500;
  font-size: 1.8vh;
  line-height: 1.2em;
  color: var(--color-text-main);
  text-transform: uppercase;
}

.link_text:hover {
  text-decoration: underline;
}

.link_text:active,
.link_text:focus {
  color: var(--color-link-active);
}

.link_image,
.link_logo {
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

.link_image:hover,
.link_image:active,
.link_image:focus,
.link_logo:hover,
.link_logo:active,
.link_logo:focus {
  opacity: 0.5;
}
