.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.navigation__link-wrap {
  display: flex;
  width: max-content;
  min-height: 28%;
}

.link {
  align-self: flex-end;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 3vh;
  color: var(--color-white);
}

.link_active {
  text-decoration: underline;
}
