.button {
  padding: 0.8em 1.1em;
  background-image: var(--background-button);
  background-size: 200%;
  background-position: 0 0;
  max-width: max-content;
  height: min-content;
  color: var(--color-text-minor);
  white-space: nowrap;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover,
.button:focus {
  background-image: var(--background-button-touched);
  background-position: 100% 0;
}

.button_background_with-image {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 140%;
}

.button_background_common {
  font-weight: 600;
  font-size: 1.8vh;
  line-height: 1.2em;
  text-transform: uppercase;
}
